<h2 class="text-center text-primary my-5">Orders</h2>
<h2 class="text-center" *ngIf="list">No Product Ordered</h2>


<h5 class="text-center m-5" *ngIf="show">Transaction Id : {{transid}}</h5>
<h5 class="text-center m-5" *ngIf="show">Total Price : {{total| currency : "USD"}}</h5>
<div class="container d-flex flex-column-reverse">
  <div class="card mb-3" style="max-width: 540px" *ngFor="let item of products">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ item.image }}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item.name | titlecase }}</h5>
          <h5 class="card-text">{{ item.price | currency : "USD" }}</h5>
          <h5>Quantity : {{ item.quantity }}</h5>
          <h5>Delivery : Pending</h5>
        </div>
      </div>
    </div>
  </div>
</div>