.price {
    width: 80%;
    margin: 5rem auto;
}

.price ul {
    list-style: none;
}

.price ul li {
    font-size: 1.2rem;
}

@media screen and (max-width:800px) {
    
    .container{
        width:80%;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }
    .img{
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }
    .image{
        width: 60%;
        margin: .5rem auto;
    }
}