.image {
  width: 27%;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.203);
  width: 40%;
  border-radius: 1rem;
  margin: auto;
}
.carousel-control-prev-icon {
  background-color: red !important;
}
.products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.market {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.controls {
  width: 20%;
  max-height: 70vh;
  background-color: white;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 1rem;
}

.controls h1 {
  color: #0866ff;
  margin-bottom: 2rem;
}
.controls .button {
  display: flex;
  flex-direction: column;
}
.controls button {
  background-color: #0866ff;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 0.85rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.3rem 0rem;
  text-decoration: none;
}

.product {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.section {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  margin: 1rem;
  width: 30%;
}

.section .image {
  width: 90%;
  margin: auto;
  padding: 0% 1rem;
  display: flex;
}
.section .image img {
  margin: auto;
  height: 13rem;
  padding: 1rem;
}

.section h2 {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.section h2 img {
  width: 4rem;
  border-radius: 50%;
  padding: 0 1rem;
}
.section .price {
  margin: 0rem 2rem 1rem;
}
.section .price h2 {
  padding-bottom: 0.5rem;
  margin: 0rem;
}

#img:hover {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .market {
    flex-direction: column;
  }
  .controls {
    width: 90%;
    margin: 2rem auto 0rem;
  }
  .controls h1 {
    width: 100%;
    text-align: center;
  }
  .controls .button {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .controls .button button {
    margin-right: 1rem;
  }

  .marketplace {
    width: 95%;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 725px) {
  .section {
    width: 75%;
  }
  .controls {
    width: 80%;
  }
}
